{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DuckyReverb</title>
    <link href="{% static 'css/about.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/duck.png' %}"/>
    
  </head>
  <body>
	<div class="title">
        <a href="{% url 'home' %}"><img class="mainImage" src="{% static 'images/confusedduck.jpg' %}" alt="logo" ></a>
        <h1>Song Over 12mins</h1>

    </div>
        <h1>Click the duck to go back home.</h1>
  </body>
</html>

